h1{
  font-size: 60px;
  border-bottom: solid 3px;
  width:700px;
  color:white;

  witdth:700px;
  height:100px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));


}


body{
  /*background-image:url("{{ url_for('static', filename='images/beet_queen_gray.png') }}");*/
  background-size: cover;


  background-image:url("/static/images/bubble.gif");


}


.rand_area{
    box-sizing: border-box;
    border: 2px solid #CCC;
    padding: 10px 10px 20px 10px;
    text-align: center;
    border-color: white;
    background-color  : rgba(80,200,250,0.2);
    margin: 410px 10px 10px 10px;
}

.box{
   display        : inline-block;         /* インラインブロック化*/
   margin         : auto;                 /* サンプル用 中央寄せ */
   box-sizing     : border-box;           /* 罫線も含む長さ      */
   background     : #fff;                 /* BOXの背景色         */
   border         : 1px solid #666;       /* 枠線の指定          */
   width          : 280px;                /* BOXの幅             */
   max-height     : 210px;                /* BOXの高さ           */

   /* ▼ inline-block時の定義 */
   letter-spacing : 0;                    /* 1行の高さを初期化   */
   line-height    : 1;                    /* 文字間隔を初期化    */
   text-align     : center;               /* 横位置定義          */
}

/* --- 個別のBOXの定義 --------------------------------------- */
.box div {
   box-sizing     : border-box;           /* 罫線も含む長さ      */
   background     : #B0C4DE;              /* BOXの背景色         */
   border         : 2px solid #35557f;    /* 枠線の指定          */
   width          : 60px;                 /* サンプルBOXの幅     */
   height         : 60px;                 /* サンプルBOXの幅     */
   margin         : 10px;                  /* サンプルBOXの間     */


 }


.rand_name1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #FFF;
    background-color     : red;              /* BOXの背景色         */
}

.rand_name2{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #FFF;
    background-color     : blue;               /* BOXの背景色         */
}

.rand_area button{
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 15px;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
}

.stop{
    background-color: #47bc68;
}

.start{
    background-color: #ff8282;
}

/*//////////////////////////////////////////////*/

.timerbody{
    box-sizing: border-box;
    border: 6px solid #CCC;
    padding: 10px 10px 20px 10px;
    text-align: center;
    border-color: white;
}

#timer{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.stopbutton{
    background-color: #47bc68;
}

.startbutton{
    background-color: #ff8282;
}

#resetbutton{
  background-color     : black;
}
