/* background */
/* background-color: rgba(250, 250, 250, 0.9); */

/* item */
/* background-color: rgba(170, 170, 170, 0.3);
box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4); */
*{
  margin: 0;
  padding: 0;
}
body{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
header {
  position: relative;
  width: 100%;
  height: 60px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .title{
  display: inline-flex;
  font-size: 15px;
  width: 120px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
header .sub-box{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 100%;
}
header .sub-box li{
  position: absolute;
  top: calc(50% - 2.5px);
  display: inline-block;
  width: 80%;
  margin: 0 10%;
  height: 5px;
  box-sizing: border-box;
  background-color: black;
  transition: 1s;
}
header .sub-box li:nth-child(1){
  transform: translateY(10px);
}
header .sub-box li:nth-child(3){
  transform: translateY(-10px);
}
header .active li:nth-child(1){
  transform: translateY(0) rotateZ(45deg);
}
header .active li:nth-child(2){
  opacity: 0;
}
header .active li:nth-child(3){
  transform: translateY(0) rotateZ(-45deg);
}

header .links{
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgba(240, 240, 240, 0.9);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
}
header .links li{
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid black;
  width: 80%;
  padding: 10px 0;
  margin: 10px 0;
}
header .links-active{
  left: 0;
}
.main{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
}
.main .left{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  transition: 1s;
}
.main .active{
  left: 0;
}
.main .left form{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: space-around;
  align-items: center;
}
.main .allow{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  height: auto;
}
.main .allow li{
  list-style: none;
  width: 80%;
  margin: 10px 10%;
  padding:  10px 0;
  background-color: rgba(170, 170, 170, 0.3);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
}
.main .right{
  display: inline-flex;
  width: 100%;
  height:calc(100% - 60px);
}
.main .right .lists{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow-y: scroll;
}
.main .right .lists .list{
  display: inline-flex;
  flex: 0 0 auto;
  width: 80%;
  margin: 10px 10%;
  padding:  10px 0;
  background-color: rgba(170, 170, 170, 0.3);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
}
.main .right .lists .list .number{
  display: inline-flex;
  width: 20%;
}
.main .right .lists .list .list-name{
  display: inline-flex;
  width: 70%;
}
.main .right .edit{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.9);
  transition: 1s;
}
.main .right .edit .details-form{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}
.main .right .edit .delete-form{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
}
.main .right .active{
  left: 0;
}
.back{
  display: inline-flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
}
.back li{
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid black;
  width: 80%;
  padding: 10px 0;
  margin: 10px 0;
}

.line{
  display: inline-flex;
  flex-direction: row;
  width: 80%;
}
.line label{
  display: inline-flex;
  width: 20%;
}
.line input{
  display: inline-flex;
  width: 70%;
}
input[type="submit"], input[type="button"]{
  display: inline-block;
  width: 80%;
}
input[name="name"]{
  display: inline-block;
  box-sizing: border-box;
  width: 80%;
}
