*{
  margin: 0;
  padding: 0;
  font-family: 'Staatliches', cursive;
}
section {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
section .left{
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  border-right: 5px solid black;
  box-sizing: border-box;
}
section .right{
  display: inline-flex;
  flex-direction: column;
  width: calc(100% - 250px);
  height: 100%;
}

h3{
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 45px;
  margin-top: 10px;
  margin-left: 10px;
}
.left form{
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: calc(100% - 55px);
  margin-top: 20px;
  /* background-color: red; */
}
.left form input{
  width: 80%;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
  box-sizing: content-box;
  padding: 0 5px;
  padding-top: 5px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.left form .button{
  display: inline-block;
  margin-top: 40px;
  color: white;
  background-color: black;
  border: 2.5px solid gray;
}

.right .bord{
  display: inline-flex;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
}
.right .bord .card{
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;

  width: 250px;
  height: 350px;
  box-sizing:border-box;
  padding: 20px;
  margin: 5px 10px;
}
.card .title{
  display: inline-flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 20px;
  border: 1px solid black;
  width: 100%;
}
.card .content{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 265px;
  justify-content: space-around;
  border: 1px solid black;
  border-top: 0;
  /* transform: translateY(-15px); */
}
.card .content li{
  display: inline-block;
  width: 80%;
  padding: 0 10%;
  border-bottom: 0.5px solid gray;
}
