<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIMITS</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<script>
    function links_item(){
        location.href = "{{ url_for('index_item') }}";
    }
    function links_roulette() {
        location.href = "{{ url_for('index_roulette') }}";
    }
</script>
<body>
{% block content %}

{% endblock %}
</body>
</html>