<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

</head>
<body>
{#{{ word_table }}#}
{#<br>#}
{#    <a href="/rin_jin/create/">新規</a>#}
{#<br>#}
{#{% for words in word_table %}#}
{#    {{ words }}#}
{#    <a href="/rin_jin/edit/{{ words[0] }}/">{{ words[0] }}編集</a>#}
{#    <br>#}
{#{% endfor %}#}

  <section>
      <div class="left">
        <h3>NEW</h3>
        <form action = "/rin_jin/insert/" method = "POST">
          <p><input type="text" name="name" size="50" minlength="3" placeholder="name"></p>
          <p><input type="text" name="form0" size="50" minlength="3" placeholder="1000"></p>
          <p><input type="text" name="form1" size="50" minlength="3" placeholder="1000"></p>
          <p><input type="text" name="form2" size="50" minlength="3" placeholder="1000"></p>
          <p><input type="text" name="form3" size="50" minlength="3" placeholder="1000"></p>
          <p><input type="text" name="form4" size="50" minlength="3" placeholder="1000"></p>
          <p><input type="text" name="form5" size="50" minlength="3" placeholder="1000"></p>
          <p><input type="text" name="form6" size="50" minlength="3" placeholder="1000"></p>
          <p><input type="text" name="form7" size="50" minlength="3" placeholder="1000"></p>
          <p><input type="text" name="form8" size="50" minlength="3" placeholder="1000"></p>
          <p><input type="text" name="form9" size="50" minlength="3" placeholder="1000"></p>
          <p><input class="button" type="submit" value="ADD"></p>
        </form>
      </div>
      <div class="right">
        <h3>LIST</h3>
        <div class="bord">
            {% for words in word_table %}
{#                <a href="/rin_jin/edit/{{ words[0] }}/">{{ words[0] }}編集</a>#}
                <div class="card">
                    <div class="title">
                      {{ words[1]}}
                    </div>
                    <div class="content">
                      <li>{{words[2]}}</li>
                      <li>{{words[3]}}</li>
                      <li>{{words[4]}}</li>
                      <li>{{words[5]}}</li>
                      <li>{{words[6]}}</li>
                      <li>{{words[7]}}</li>
                      <li>{{words[8]}}</li>
                      <li>{{words[9]}}</li>
                      <li>{{words[10]}}</li>
                      <li>{{words[11]}}</li>
                    </div>
                    <div class="button">
                      <a href="/rin_jin/edit/{{ words[0] }}/">{{ words[0] }}EDIT</a>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>

    </section>
</body>
</html>