<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/limits.js') }}"></script>
    <title>Title</title>
</head>
<body>
limits 会場
    <div class="child">
        {% for number in range(word_table|length) %}
            <div class="number">
                {{ number }}
                <input type="hidden" value="{{ number }}">
                <div class="sentence">
                    {% for word in word_table[number] %}
                        <span>{{ word }}</span>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>
    <div>
        <input type="radio" name="flag" value="0" onchange="flag_check();" checked> 左
        <input type="radio" name="flag" value="1" onchange="flag_check();"> 右
    </div>

    <div class="target_left">

    </div>
    <div class="target_right">

    </div>
     <form action = "start/" method = "POST">
            <p><input type="hidden" class="target_left" name="left" size="50" minlength="3" maxlength="1000"></p>
            <p><input type="hidden" class="target_right" name="right" size="50" minlength="3" maxlength="1000"></p>
            <p><input class="button" type="submit" value="POST通信でoutputページを開く"></p>
    </form>

</body>
</html>
