{% extends "child_layout.html" %}
{% block main %}
    <div class="edit">
        <div class="top">
            <div class="left" onclick="change_flag(0);">
                <div class="change">
                    No.<span id="id"></span>
                </div>
                <div class="title">
                    name
                </div>
            </div>
            <div class="right" onclick="change_flag(1);">
                <div class="change">
                    No.<span id="id"></span>
                </div>
                <div class="title">
                    name
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="close">
                <div class="box">
                    <li></li>
                    <li></li>
                </div>
            </div>
            <div class="bords">
{#                {% for list in lists %}#}
                {% for number in range(lists|length) %}
                    <div class="bord">
                        <input type="hidden" class="id" value="{{ number }}">
                        {% for target_number in range(1,12) %}
                            <span>{{ lists[number][target_number] }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="main">

        <div class="select">
            <div class="top">
                <div class="left">
                    <div class="name-id">
                        List No.<span id="id"></span>
                    </div>
                    <div class="word">
                        red
                    </div>
                </div>
                <div class="middle">
                    *
                </div>
                <div class="right">
                    <div class="name-id">
                        List No.<span id="id"></span>
                    </div>
                    <div class="word">
                        blue
                    </div>
                </div>
            </div>
            <div class="bottom">
                <input type="button" value="START">
            </div>
        </div>

        <div class="timer">
            <div class="timer-counter">
                <div id="timer"></div>
            </div>
            <div class="timer-select">
                <li>20min <input type="hidden" value="20"></li>
                <li>30min <input type="hidden" value="30"></li>
                <li>60min <input type="hidden" value="60"></li>
            </div>
            <div class="timer-controller">
                <div class="boot">
                    <button type="buttons" class="stopbutton" style="display:none;">STOP</button>
                    <button type="buttons" class="startbutton">STRAT</button>
                </div>
                <div class="reset">
                    <button id="resetbutton">reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="help">

    </div>

    <script>
        let flag = true;
        let words = [];
        let titles = [];
        let left_words = [];
        let right_words = [];
        let start_flag = false;
        let intervalid;
        let to_timeup = 10;
        let backstart = to_timeup;
        window.onload = function(){

            let target = $(".bords").children(".bord");
            for(let i=0;i<target.length;i++){
                let temp_words = [];
                let child = $(target[i]).children("span");
                console.log(child);
                for(let detail_number=1;detail_number<11;detail_number++){
                    temp_words.push($(child[detail_number]).text());
                }
                titles.push($(child[0]).text());
                words.push(temp_words);
            }
            padding();


            $(".bord").on("click", function () {
                let id = $($(this).children("input")[0]).val();
                change_list(id);
            });


            $(".startbutton").click(function(event){
                if (start_flag == false) {
                  intervalid = setInterval(count_down, 1000);
                  start_flag = true;
                  $(this).hide();
                  $('.stopbutton').show();
                }
            });

            $(".stopbutton").click(function(evnet){
                clearInterval(intervalid);
                start_flag = false;
                $(this).hide(); //止めるボタンの非表示
                $('.startbutton').show(); //STARTボタンの表示
            });

            $("#resetbutton").click(function(event){
                let timer = document.getElementById("timer");
                to_timeup = backstart;
                padding();
                // timer.style.color="black";
                $('#timer').css('color', 'black');
                clearInterval(intervalid);
                start_flag = false;

                $('.startbutton').show(); //STARTボタンの表示
                $('.stopbutton').hide();
            });
            $(".timer-select li").click(function(event) {
                console.log($($(this).children('input')[0]).val());
                to_timeup = parseInt($($(this).children('input')[0]).val()) * 60;
                backstart = to_timeup;

                let timer = document.getElementById("timer");
                let min = Math.floor(to_timeup / 60);
                let sec = (to_timeup % 60);
                min = ('0' + min).slice(-2);
                sec = ('0' + sec).slice(-2);
                timer.innerHTML = min + ':' + sec;
            });

        }
        function change_flag(number){
            switch (number) {
                case 0:
                    flag = true;
                    break;
                case 1:
                    flag = false;
                     break;
            }
        }
        function change_list(id){
            if(flag){
                console.log(titles[id]);
                left_words = words[id];
                $(".left .change #id").text(id);
                $(".left .title").text(titles[id]);

                $(".left .name-id #id").text(id);
                $(".left .word").text(titles[id]);

            }else{
                console.log(titles[id]);
                right_words = words[id];
                $(".right .change #id").text(id);
                $(".right .title").text(titles[id]);

                $(".right .name-id #id").text(id);
                $(".right .word").text(titles[id]);
            }
        }
        function count_down() {
            let timer = document.getElementById("timer");
            if (to_timeup === 0) {
                $('#timer').html('Time up!');
                $('#timer').addClass('red');
                count_stop();
            } else {
                to_timeup--;
                padding();
            }
        }

        function padding() {
            let min = 0;
            let sec = 0;
            let timer = document.getElementById("timer");
            min = Math.floor(to_timeup / 60);
            sec = (to_timeup % 60);
            min = ('0' + min).slice(-2);
            sec = ('0' + sec).slice(-2);
            timer.innerHTML = min + ':' + sec;
        }
    </script>
{% endblock %}